/* BASE STYLES VARIABLES */

$base-font-family: Mulish;
$base-font-size: 16px;
$base-font-weight: 400;
$base-font-color: #11223f;
$base-color: #1968fc;

/* TEXT VARIABLES */

$text-blue-color: #1967fa;
$text-white-color: #fff;

/* BUTTON VARIABLES */

$primary-btn-bg-color: $base-color;
$primary-btn-text-color: #fff;

$secondary-btn-bg-color: #fff;
$secondary-btn-text-color: $base-color;

/* LAYOUT VARIABLES */

$mobile-layout-width: 640; // px
$desktop-layout-width: 1440; // px
