.workflow-step {
    padding: 40px;
    width: 100%;
    min-height: 180px;
    background: #fff;
    box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
    position: relative;

    @include desktop {
        min-height: 220px;
        flex-basis: 320px;
        flex-grow: 1;
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__number {
        font-weight: bold;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
    }

    &__title {
        margin: 0;
        font-weight: bold;
        font-size: 18px;
        line-height: 40px;
        text-transform: uppercase;
        color: #1967fa;
    }

    &__image {
        width: 40px;
        height: auto;
    }

    &__description {
        margin: 10px 0 0;
        font-size: 16px;
        line-height: 30px;
    }

    &::after {
        content: url('./icons/card-decoration.svg');
        width: 25px;
        height: 25px;
        position: absolute;
        right: -5px;
        bottom: -5px;
    }
}
